.flex-c-be {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flex-c-c {
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex-itc {
    display: flex;
    align-items: center;
}
.b-radius  {
    border-radius: 7px;
}
.cursor-p {
    cursor: pointer;
}
